<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Überweisungsformular für Zehnten und Gaben</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="/ui/images/favicon.ico">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="ui/css/tithe.css">
		<base href="/">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
	</head>
	<body id="body" ng-app="tithe" ng-controller="titheController">
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
        <div class="d-flex flex-column flex-md-row justify-content-center border-bottom shadow-sm bgstacolor">
            <a href="https://www.adventisten.at/" target="_blank"><img src="/ui/images/sta-logo.png" class="img-fluid" style="max-height: 100px;"></a>
        </div>
		<div id="page" class="row">
            <div class="col-md-12">
                <center><h3 class="bold">Überweisungsformular für Zehnten und Gaben</h3></center>
            </div>
			<div class="col-md-6 paper">
				<h4 class="center bold">
					Maleachi 3,10
				</h4>
				<table style="width:100%;">
					<tr>
						<td class="bold right">I.</td>
						<td class="bold">Zehnten</td>
						<td></td>
						<td class="right"> <input type="text" ng-model="z" size="4" class="euro" valid-number></td>
					</tr>
					<tr>
						<td style="height: 10px"></td>
					</tr>
					<tr>
						<td class="bold right">II.</td>
						<td><span class="bold">Österreich</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Diese Gaben dienen verschiedensten Projekten und Zwecken, für die keine Zehntengelder verwendet werden können." flow="right">Projekte allgemein</span></td>
						<td class="right"><input type="text" ng-model="poe" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft"></td>
					</tr>
                    <tr>
						<td></td>
						<td><span tooltip="Diese Gelder werden zur Unterstützung von österreichweiten und lokalen evangelistischen Projekten verwendet." flow="right">Evangelisation</span></td>
						<td class="right"><input type="text" ng-model="ev" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft"></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Diese Gaben dienen der Errichtung und dem Ewerb von neuen Gebäuden für Gemeinden." flow="right">Kapellenfonds</span></td>
						<td class="right"><input type="text" ng-model="kf" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft"></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Unterstützung für unsere Schule in Bogenhofen." flow="right">Schule Bogenhofen</span></td>
						<td class="right"><input type="text" ng-model="scho" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft right">
							 <input type="text" name="poefld" ng-blur="calcpoe()" size="4" class="euro" valid-number />
						</td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Gaben für bestehende und neue Volks- und Mittelschulen in Österreich." flow="right">Gemeindeschule</span></td>
						<td class="right"><input type="text" ng-model="gems" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft"></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Diese Gelder machen Initativen und Projekte im Gesundheitsbereich (LLG) möglich." flow="right">Gesundheitsdienste</span></td>
						<td class="right"><input type="text" ng-model="llg" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft"></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Unterstützung für die Medienarbeit in Österreich." flow="right">Hope Media</span></td>
						<td class="right"><input type="text" ng-model="hm" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft"></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="text" ng-model="poe_custom_text" class="dotted"></td>
						<td class="right"><input type="text" ng-model="poe_custom" ng-keyup="poesum" size="4" class="euro" valid-number></td>
						<td class="bleft"></td>
					</tr>
					<tr>
						<td style="height: 10px"></td>
					</tr>
					<tr>
						<td width="1" class="bold right">III.</td>
						<td class="bold">Weltmission</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Sabbatschulgaben dienen der Finanzierung von Missionsprojekten auf der ganzen Welt. Über die Missionvideos wird von solchen Projekten berichtet." flow="right">Sabbatschulgaben</span></td>
						<td></td>
						<td class="right"> <input type="text" ng-model="ssg" size="4" class="euro" valid-number></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Diese Gaben sind für spezielle Projekte bestimmt, die jedes Quartal aus einer anderen Division ausgewählt werden." flow="right">13. Sabbatschulgaben</span></td>
						<td></td>
						<td class="right"> <input type="text" ng-model="ssg13" size="4" class="euro" valid-number></td>
					</tr>
					<tr>
						<td></td>
						<td><span tooltip="Diese Mittel kommen Regionen zu, welche besonders von den Auswirkungen des Coronavirus betroffen sind." flow="right">COVID-19</span></td>
						<td><input type="hidden" ng-model="wm_sosa_text" ng-init="wm_sosa_text='COV'"></td>
						<td class="right"> <input type="text" ng-model="wm_sosa" size="4" class="euro" valid-number></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="text" ng-model="wm_custom_text" class="dotted"></td>
						<td></td>
						<td class="right"> <input type="text" ng-model="wm_custom" size="4" class="euro" valid-number></td>
					</tr>
					<tr>
						<td style="height: 10px"></td>
					</tr>
					<tr style="display:{{local}}">
						<td class="bold right">IV.</td>
						<td class="bold">Lokale Gemeinde</td>
						<td></td>
					</tr>
					<tr style="display:{{local}}">
						<td></td>
						<td><span tooltip="Die Gaben für die lokale Gemeinde dienen zur Finanzierung des Gemeindelokals und aller Aktivitäten der Gemeinde." flow="right">Gemeinde allgemein</span></td>
						<td></td>
						<td class="right"> <input type="text" ng-model="gemk" size="4" class="euro" valid-number></td>
					</tr>
					<tr style="display:{{local}}">
						<td></td>
						<td><input type="text" ng-model="lg_custom1_text" class="dotted"></td>
						<td></td>
						<td class="right"> <input type="text" ng-model="lg_custom1" size="4" class="euro" valid-number></td>
					</tr>
					<tr style="display:{{local}}">
						<td></td>
						<td><input type="text" ng-model="lg_custom2_text" class="dotted"></td>
						<td></td>
						<td class="right"> <input type="text" ng-model="lg_custom2" size="4" class="euro" valid-number></td>
					</tr>
					<tr style="display:{{local}}">
						<td style="height: 10px"></td>
					</tr>
					<tr>
						<td style="height: 10px"></td>
						<td></td>
						<td></td>
						<td style="border-bottom:1px solid #000"></td>
					</tr>
					<tr>
						<td style="height: 40px"></td>
						<td></td>
						<td></td>
						<td class="right" style="border-bottom:5px double #000" onclick="alert('Bitte Posten in die Felder oben eintragen!\nDas ist ein Summenfeld.');">
							 <input type="text" readonly="1" value="{{sum()}}" class="euro" />
						</td>
					</tr>
				</table>
			</div>
	            <div class="col-md-6">
				<p>
					Lass dir beim Ausfüllen des Formulars automatisch Betrag und Verwendungszweck für eine Überweisung erstellen.
					So lässt sich dann deine Überweisung genau den verschiedenen Zwecken zuordnen.
				</p>
                <p>
                    Brauchst du Hilfe? <a style="cursor:pointer; text-decoration: underline;" target="_blank" href="/downloads/Anleitung.pdf">Anleitung herunterladen</a>
                </p>
				<p>
                    Ist dieses Formular sicher? <a style="cursor:pointer; text-decoration: underline;" ng-click="secureInfo = !secureInfo" href="#">Hier erfährst du mehr</a>
				</p>
                <p ng-show="secureInfo">
                    Wichtig: Die eingegebenen Daten werden nirgends gespeichert, sie dienen rein zur Erstellung des Verwendungszwecks.
					Alle Berechnungen passieren lokal in deinem Browser, es wird nichts über das Internet an einen Server übertragen.
					Du kannst das gerne ausprobieren, indem du nach dem Laden der Seite deine Netzwerkverbindung trennst, alles funktioniert weiterhin.
				</p>
				<p>
					Nach dem Ausfüllen werden hier alle notwendigen Überweisungsdaten angezeigt.
					Du kannst dann einfach die Daten (IBAN, Zweck, etc) auswählen, diese werden automatisch in die Zwischenablage kopiert, du musst sie nur noch bei deiner Überweisung oder deinem Dauerauftrag einfügen. Alternativ kannst du unten den QR-Code in deiner Banking-App scannen.
				</p>
				<table style="width:100%;">
					<tr>
						<td>Gemeinde: <span style="cursor:pointer;" tooltip="Du kommst direkt zu den Kontodaten deiner Gemeinde, wenn du sie in das Adressfeld des Browsers angibst: z.B. geben.adventisten.at/Hallein" flow="right">&#9432;</span></td>
						<td>
							<select ng-options="option.name for option in accoutdata.availableOptions track by option.id"
											ng-model="accoutdata.selectedOption" ng-change="changeLink()"></select>
						</td>
					</tr>
					<tr ng-if="!(accoutdata.selectedOption.id=='empty')">
						<td>Empfänger:</td>
                        <td>
							 <input type="text" onclick="this.select();document.execCommand('copy');" readonly="1" value="{{accoutdata.selectedOption.acname}}" class="output" />
						</td>
					</tr>
					<tr ng-if="!(accoutdata.selectedOption.id=='empty')">
						<td>IBAN:</td>
						<td>
							 <input type="text" onclick="this.select();document.execCommand('copy');" readonly="1" value="{{accoutdata.selectedOption.id}}" class="output" />
						</td>
					</tr>
					<tr>
						<td>Betrag: <span style="cursor:pointer;" tooltip="Die Summe wird automatisch nach dem Ausfüllen des Zehntenzettels angezeigt." flow="right">&#9432;</span></td>
						<td>
							 <input type="text" onclick="this.select();document.execCommand('copy');" readonly="1" value="{{sum()}}" class="output" />
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top">
							Zweck:
							<span style="cursor:pointer;" tooltip="Der Verwendungszweck wird automatisch nach dem Ausfüllen des Zehntenzettels angezeigt." flow="right">&#9432;</span>
						</td>
						<td><textarea id="subject" style="width:100%;height:21px;" onclick="this.select();document.execCommand('copy');" readonly="1">{{subject()}}</textarea></td>
					</tr>
				</table>
				<br />
				<div class="paper">
					<h4 style="margin-top:0" class="center bold">
						Empfohlene Gabenverteilung
					</h4>
					<br />
					<table style="margin: 0 auto;">
						<tr>
							<td class="right">II.</td>
							<td>Österreich</td>
							<td class="right">30% &nbsp;</td>
							<td class="right bold">{{ptbl2()}}</td>
						</tr>
						<tr>
							<td class="right">III.</td>
							<td>Weltmission</td>
							<td class="right">20% &nbsp;</td>
							<td class="right bold">{{ptbl3()}}</td>
						</tr>
						<tr>
							<td class="right">IV.</td>
							<td>Lokale Gemeinde &nbsp;</td>
							<td class="right">50% &nbsp;</td>
							<td class="right bold">{{ptbl4()}}</td>
						</tr>
						<tr ng-show="ptbl2() || ptbl3() || ptbl4()">
							<td colspan="3" class="right bold">Deine Verteilung</td>
							<td class="center bold"> <img src="ui/images/Black_Arrow_Up.svg" height="10px"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-12" style="padding:25px;">
				<p class="center" ng-if="!(accoutdata.selectedOption.id=='empty') && (sum())">QR-Code für SEPA Überweisungen:<br/>
					<img src="https://epc-qr.eu/?bname={{accoutdata.selectedOption.acname}}&iban={{accoutdata.selectedOption.id}}&euro={{sum()}}&info={{subject()}}">
				</p>
                <p class="center">
					<a href="#">
						by Tobi Ka
					</a>
					<span class="separator">&middot;</span>
					<a href="https://www.adventisten.at/kontakt/" target=”_blank”>
						Fragen? Schreibe uns!
					</a>
				</p>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="ui/js/app.js"></script>
		<script src="ui/js/controllers.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
		<script>
		window.cookieconsent.initialise({
		  "palette": {
		    "popup": {
		      "background": "#edeff5",
		      "text": "#838391"
		    },
		    "button": {
		      "background": "#4b81e8"
		    }
		  },
		  "theme": "edgeless",
		  "content": {
		    "message": "Diese Website verwendet Cookies, um Ihnen das bestmögliche Erlebnis auf unserer Website zu ermöglichen.",
		    "dismiss": "Verstanden!",
		    "link": "Mehr erfahren..."
		  }
		});
		</script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37271278-4"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-37271278-4', { 'anonymize_ip': true });
		</script>
	</body>
</html>
