html {
  font-size: 14px;
}

div {
  margin-bottom: 15px;
}

#page {
  margin: 20px auto;
  max-width:800px;
}
.paper {
  background-color: #ddff99;
  padding: 15px;
}
#result {
  padding: 20px;
}
table th, table td {
  padding: 2px 5px 2px 0px;
}
td.bleft {
  border-left:1px solid #000;
}
td.bspace {
  padding-bottom: 50px;
}
.bold {
  font-weight: bold;
}
input {
  border: 0;
}
input.dotted {
  border-bottom: 1px dotted #000;
  background-color: #ddff99;
}
input.euro {
  text-align: right;
  width: 50px;
  border-bottom: 1px dotted #000;
  background-color: #ddff99;
}
input.output {
  width: 100%;
}
textarea {
  border: 0;
  resize: none;
}
.center {
  text-align:center;
}
.right {
  text-align:right;
}
.bgstacolor {
  background-color: #2f557f;
  padding: 15px;
}
a {
  text-decoration: underline;
  color: #2f557f;
}